extends layout

block content
  include partials/nav

  main.single(data-username=`${username}` data-permlink=`${permlink}` data-category=`${category}`)
    h1 Profile
    h2 #{username}
    h2 #{permlink}
